
.loginContainer{
  font-size: 1.4rem;
  background-color: rgba(11, 11, 17,0.93);  
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  padding-top: 2rem;
  border-radius: 10px;
  z-index: 1;  
  position: relative;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  color: white;  
  text-align: left;
  display: flex;
  flex-direction: column;
}
.loginContainerButton{
  font-size: 1rem;
  background-color: black;
  border: 0.5px solid white;
  color: white;
  
}
.loginContainerh1{
  font-size: 2.5rem;
  text-align: center;
}
.loginlink{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2rem;
  color: rgb(60, 148, 231);
  
}